.big{
	width: 90%;
	height: auto;
	margin:20px auto;
}

table {
	width: 100%;
	text-align: center;
}

.big button{
	width: 150px;
	height: 40px;
	background: white;
	line-height: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#btn {
	width: 10%;
	height: 80%;
	background-color: pink;
	margin-right: 5%;
	margin-top: 40px;
	float: left;
}

#admin,#view {
	width: 85%;
	height: 95%;
	float: left;
}

#admin{
	display: none;
}